<a href="https://colab.research.google.com/github/easyseop/BOJ-Solution/blob/main/11726%EB%B2%88_2xn_%ED%83%80%EC%9D%BC%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
input = sys.stdin.readline
n = int(input())
if n<=2:
    print(n)
else:
    f=[0]*(n+1)
    f[1]=1
    f[2]=2
    for i in range(3,n+1):
        f[i] = f[i-1]+f[i-2]
    print(f[n]%10_007)

9
55

In [ ]:
f

[0, 1, 2, 3, 5, 8, 13, 21, 34, 55]