<a href="https://colab.research.google.com/github/easyseop/BOJ-Solution/blob/main/1149%EB%B2%88_RGB%EA%B1%B0%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = int(input())
arr = [ list(map(int,input().split())) for _ in range(n)] 
for i in range(1,n):
    arr[i][0] = arr[i][0] + min(arr[i-1][1],arr[i-1][2]) # 현재가 R일때
    arr[i][1] = arr[i][1] + min(arr[i-1][0],arr[i-1][2])
    arr[i][2] = arr[i][2] + min(arr[i-1][0],arr[i-1][1])

print(min(arr[-1]))

26 40 83
49 60 57
13 89 99

In [11]:
arr

[[26, 40, 83], [89, 86, 83], [96, 172, 185]]