<a href="https://colab.research.google.com/github/easyseop/BOJ-Solution/blob/main/11725%EB%B2%88_%ED%8A%B8%EB%A6%AC%EC%9D%98_%EB%B6%80%EB%AA%A8_%EC%B0%BE%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
n = int(input())

arr = [[] for _ in range(n+1)]

for i in range(n-1):
    a,b = map(int,input().split())
    arr[a].append(b)
    arr[b].append(a)

root = 1
visited = [0]*(n+1)
root_list = [0]*(n+1)
def dfs(x):
    visited[x] = 1 
    for i in arr[x]:
        if not visited[i]:
            root_list[i] = x
            dfs(i)
dfs(root)
for i in root_list[2:]:
    print(i)

7
1 6
6 3
3 5
4 1
2 4
4 7
0
0
0
0
0
0

In [7]:
for i in range(n-1):
    a,b = map(int,input().split())
    arr[a].append(b)
    arr[b].append(a)

root = 1
visited = [0]*(n+1)
root_list = [0]*(n+1)
def dfs(x):
    visited[x] = 1 
    for i in arr[x]:
        if not visited[i]:
            root_list[i] = x
            dfs(i)

for i in root_list:
    print(i,end='/n')

1 6
6 3
3 5
4 1
2 4
4 7

In [9]:
root = 1
visited = [0]*(n+1)
root_list = [0]*(n+1)
def dfs(x):
    visited[x] = 1 
    for i in arr[x]:
        if not visited[i]:
            root_list[i] = x
            dfs(i)

for i in root_list[2:]:
    print(i,end='/n')

In [15]:
for i in root_list:
    print(i,end='/n')

TypeError: ignored

In [13]:
visited

[0, 1, 1, 1, 1, 1, 1, 1]

In [14]:
root_list

[0, 0, 4, 6, 1, 3, 1, 4]