<a href="https://colab.research.google.com/github/easyseop/BOJ-Solution/blob/main/15650%EB%B2%88_N%EA%B3%BCM(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
n,m = list(map(int,input().split()))
s = []
4,3
def dfs(x):
    if len(s)==m:
        print(*s)
    else:
        for i in range(x,n+1):
            if i not in s:
                s.append(i)
                dfs(i)
                s.pop()
  dfs(1)

4 3

In [96]:
dfs(1)

1 2 3
1 2 4
1 3 4
2 3 4