<a href="https://colab.research.google.com/github/easyseop/BOJ-Solution/blob/main/2448%EB%B2%88_%EB%B3%84_%EC%B0%8D%EA%B8%B0_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
n=int(input())

arr  = [[' ']* 2 * n for i in range(n)]
def graph(i,index,N):
    if N==3:
        arr[i][index]='*'
        arr[i+1][index-1] = '*'
        arr[i+1][index+1] = '*'

        for j in range(index-2,index+2+1):
            arr[i+2][j]='*'
    else:
        new_N = N//2
        graph(i,index,new_N)
        graph(i+new_N,index-new_N,new_N)
        graph(i+new_N,index+new_N,new_N)

  

graph(0,n-1,n)

for i in arr:
    print(''.join(i))

6
     *
    * *
   *****
  *     *
 * *   * *
***** *****